.project-container {
    position: absolute;
    width: 45%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 25px;
    margin-left: calc(50% - 50px);
    height: 100%;
    padding: 10px 10px;
    animation: fadeIn 1s 1.6s backwards;
    align-items: center;
}

.project-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        max-height: 90%;
        animation: fadeIn 1s 1.8s backwards;

        h1 {
            font-size: 40px;
            font-family: 'Coolvetica';
            font-weight: 400;
            color: #b7a57a;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;
        }

        &::before {
            color: #b7a57a;
            content: '<h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }

        &::after {
            content: '<h1/>';
            color: #b7a57a;
            font-family: 'La Belle Aurore';
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: 0px;
            margin-left: 20px;
            opacity: 0.6;
        }
    }
}

@media screen and (min-width: 1000px) {
    .project-page {
        .text-zone {
            left: 2.5%;
        }
    }
}

@media screen and (max-width: 500px) {
    .project-page {
        .text-zone {
            width: 100%;
            top: 35%;
            left: 10%;


            &::before {
                left: 10px;
            }

            &::after {
                left: -10px;
                line-height: 75px;
            }
        }

        .project-container {
            position: static;
            width: 80%;
            height: auto;
            transform: translateY(45%);
            margin-left: 40px;
            margin-bottom: 100px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}