.about-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        margin-left: 10px;
        animation: fadeIn 1s 1.8s backwards;

        h1 {
            font-size: 40px;
            font-family: 'Coolvetica';
            font-weight: 400;
            color: #b7a57a;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;
            padding-left: 15px;

            &::before {
                content: '<h1>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -10px;
                opacity: 0.6;
                line-height: 18px;
            }
    
            &::after {
                content: '<h1/>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position: absolute;
                margin-left: 20px;
                opacity: 0.6;
                bottom: -10px;
            }
        }

        p {
            font-size: 17px;
            color: white;
            padding-left: 15px;

            &::before {
                content: '<p>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -15px;
                opacity: 0.6;
                line-height: 18px;
            }
    
            &::after {
                content: '<p/>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position: absolute;
                margin-left: 20px;
                opacity: 0.6;
                bottom: -10px;
            }
        }
    }
}

.logo-img {
    display: flex;
    width: 50%;
    height: 650px;
    float: right;
    align-items: center;
    animation: fadeIn 1s 1.8s backwards;

    .uL {
        display: block;
        max-height: 300px;
        min-height: 200px;
        width: 85%;
        height: auto;
        margin: auto;
        padding: 10px 15px;
        border-radius: 50px;
    }
}

@media screen and (min-width: 1000px) {
    .about-page {
        .text-zone {
            left: 2.5%;
        }
    }
}

@media screen and (max-width: 900px) {
    .about-page {
        .text-zone {
            h1 {
                font-size: 30px;
            }

            p {
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .about-page {
        .text-zone {
            width: 85%;
            text-align: center;
    
            h1 {
                font-size: 35px;
                padding-left: 0;
                left: 0;
                margin-bottom: 20px;

                &::before {
                    left: 0px;
                }

                &::after {
                    margin-left: 10px;
                }
            }

            p {
                font-size: 15px;
                padding: 10px 10px;

                &::before {
                    left: 0;
                }
            }
        }    

        .uL {
            visibility: hidden;
        }
    }
}