.calendar-container {
    width: 75%;
    height: 65%;
    margin: 8% 12.5%;
}


.days-of-week {
    display: grid;
    grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
    width: 100%;

    :first-child {
        border-left: 1px solid white;
    }

    :last-child {
        border-right: 1px solid white;
    }

    div {
        display: inline;
        padding: 8px 8px;
        color: white;
        text-align: center;
        font-size: 20px;
    }

    div.active {
        background-color: #b7a57a;
    }
}

.top-banner-control {
    float: right;
    padding: 8px 8px;

    button {
        background: none;
        border: none;
        color: white;
        font-size: 15px;
        line-height: 12px;
        cursor: pointer;
    }

    button:hover {
        scale: 1.2;
    }
}

.top-banner {
    width: 100%;
    height: 35px;
    border: 1px solid white;

    h1 {
        font-size: 18px;
        color: white;
        text-align: left;
        position: absolute;
        line-height: 12px;
        margin-left: 8px;
    }
}

.calendar-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;

    div {
        color: white;
        font-size: 25px;
        text-align: center;
        border: 1px solid white;

        p {
            font-size: 10px;
        }
    }

}